# KiCAD
*.kicad_pcb linguist-detectable=true
*.sch linguist-detectable=true
# Gerbers
#pcb/usb_rs232c_rev_a/gerbers/* linguist-detectable=true
#pcb/usb_rs232c_rev_a/gerbers/* linguist-detectable=true
# LTspice
#ltspice/* linguist-detectable=true
